*{
    margin: 0;
    padding: 0;
}

.sky{
    height: 745px;
    width: 100%;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.trees{
    background-image: url(images/trees.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 310px;
    position: absolute;
    bottom: 92px;
    left: 20px;
}
.road{
    height: 22vh;
    width: 100%;
    background-image: url(images/bg4.jpg);
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.clouds1{
    height: 250px;
    width: 600px;
    background-image: url(images/c6.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-50px;
    left: -50px;   
}
.clouds2{
    height: 250px;
    width: 600px;
    background-image: url(images/c6.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-50px;
    left: 280px;   
}
.clouds3{
    height: 250px;
    width: 600px;
    background-image: url(images/c6.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-50px;
    left: 650px;   
}
.clouds4{
    height: 250px;
    width: 600px;
    background-image: url(images/c6.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-50px;
    left: 900px;   
}
.clouds5{
    height: 250px;
    width: 600px;
    background-image: url(images/cd.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -100px;
    left: -30px;   
}
.clouds6{
    height: 250px;
    width: 600px;
    background-image: url(images/cd.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-120px;
    left: 500px;   
}
.clouds7{
    height: 250px;
    width: 600px;
    background-image: url(images/cd.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:-100px;
    left: 800px;   
}

.moon{
    height: 400px;
    width: 230px;
    background-image: url(images/mooon.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 210px;
    left: 200px;
     
} 

.cloud1{
    height: 150px;
    width: 300px;
    background-image: url(images/clouds.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:200px;
    left: 100px;   
} 

.cloud2{
    height: 150px;
    width: 400px;
    background-image: url(images/clouds.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:200px;
    left: 300px;   
} 

.cloud3{
    height: 150px;
    width: 400px;
    background-image: url(images/clouds.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 115px;
    left: 500px;   
} 
.cloud4{
    height: 150px;
    width: 300px;
    background-image: url(images/clouds.PNG);
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: absolute;
    top: 170px;
    left: 800px;   
} 

.cloud5{
    height: 200px;
    width: 400px;
    background-image: url(images/clouds.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 950px;   
} 


.girl{
    height: 300px;
    width: 200px;
    background-image: url(images/girll.png);
    background-size: cover;
    position: absolute;
    bottom: 5px;
    left: 100px;
     
}

.rain{
    width: 100%;
    height: 740px;
    background-image: url(images/rainy.png);
    background-size: cover;
    position: absolute;
}

#audio{
    display: none;
}